<h1>About Us</h1>
<p>
Soothsayer Fantasy is a company designed to help new and veteran fantasy football players
alike. Our mission is to provide the most accurate, robust fantasy football insights that 
will allow you to dominate your leaguemates and win the associated prize money.

Our robust predictive algorithms leverages over 30 statiscs, a collective 300+ seasons of 
fantasy football experience, 100+ championships, and $40,000 of career winnings.
</p>