<h1>Contact Us</h1>

<div class="text-center my-4">
  <img src="<%= asset_path('Bryant.jpeg')%>" alt="Awards" class="img-fluid" style="max-height: 500px;">
</div>

<p class="text-center">For Business inqueries please reach out to us at blmclaughlin@willamette.edu</p>
