<h1>Help</h1>

<div class="text-center my-4">
  <img src="<%= asset_path('Help.jpeg')%>" alt="Awards" class="img-fluid" style="max-height: 600px;">
</div>

<p class="text-center">For emergencies please call 911. For non-emergencies please figure it out and be better.</p>
