<!-- Footer -->
<footer class="text-white bg-dark">
  <!-- Links Section -->
  <div class="container py-4">
    <!-- Centered Title -->
    <div class="text-center mb-4">
      <h5 class="text-uppercase font-weight-bold">Resources</h5>
    </div>
    <!-- Links Displayed Horizontally -->
    <div class="d-flex justify-content-center">
      <%= link_to "About Us", home_about_path, class: "nav-link text-white px-3" %>
      <%= link_to "Awards", home_awards_path, class: "nav-link text-white px-3" %>
      <%= link_to "Help", home_help_path, class: "nav-link text-white px-3" %>
      <%= link_to "Contact", home_contact_path, class: "nav-link text-white px-3" %>
    </div>
  </div>

  <!-- Social Media Icons -->
  <div class="text-center my-4">
    <!-- Replace "#" with your actual social media links -->
    <a href="https://x.com" target="_blank" class="text-white mx-3">
      <i class="fab fa-twitter fa-2x"></i> <!-- Icon for X -->
    </a>
    <a href="https://www.linkedin.com/in/bryant-mclaughlin/" target="_blank" class="text-white mx-3">
      <i class="fab fa-linkedin fa-2x"></i> <!-- Icon for LinkedIn -->
    </a>
    <a href="https://www.facebook.com/bryant.mclaughlin" target="_blank" class="text-white mx-3">
      <i class="fab fa-facebook-f fa-2x"></i> <!-- Icon for Facebook -->
    </a>
    <a href="https://www.instagram.com/noinstabryant/" target="_blank" class="text-white mx-3">
      <i class="fab fa-instagram fa-2x"></i> <!-- Icon for Instagram -->
    </a>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://soothsayerfantasy.com/">SoothsayerFantasy.com</a>
  </div>
</footer>
<!-- End Footer -->
